## Importing all the necessary libraries

In [1]:
import snowflake.connector
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [2]:
# Suppress warnings
warnings.filterwarnings("ignore")

## Importing & Understanding the dataset

In [3]:
try:
    # Connect to Snowflake using environment variables
    conn = snowflake.connector.connect(
        user="kaustubh",
        password="@@Kaustubh123",
        account="rh57156.central-india.azure",
        warehouse="COMPUTE_WH",
        database="Main_Project",
        schema="Main_Project_Schema_Mart",
        role = "ACCOUNTADMIN"
    )

    # Print connection success message
    print("Connected to Snowflake successfully!")

    # Now, you can perform further operations with snowflake_conn
except snowflake.connector.errors.DatabaseError as e:
    # Print connection failure message
    print(f"Failed to connect to Snowflake: {e}")

Connected to Snowflake successfully!

In [4]:
cur = conn.cursor()

# Execute SQL query to fetch data
sql_query = f"SELECT * FROM TOTALINFO"
cur.execute(sql_query)

# Fetch data into a pandas DataFrame
data = cur.fetchall()
columns = [col[0] for col in cur.description]
df = pd.DataFrame(data, columns=columns)

# Close cursor and connection
cur.close()
conn.close()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4131 entries, 0 to 4130
Data columns (total 28 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   USERID                               4131 non-null   object
 1   FULLNAME                             4131 non-null   object
 2   EMAIL                                4131 non-null   object
 3   PHONENUMBER                          4131 non-null   object
 4   GENDER                               4131 non-null   object
 5   DOJ                                  4131 non-null   object
 6   SPECIALIZATION                       4131 non-null   object
 7   DOB                                  4131 non-null   object
 8   CITY                                 4131 non-null   object
 9   STATE                                4131 non-null   object
 10  EXPERIENCE                           4130 non-null   float64
 11  USERTYPE                             4131 non-null   object
 12  SUBSCRIBENEWSLETTER                  4131 non-null   object
 13  TRAININGID                           4100 non-null   object
 14  TRAINERID                            4100 non-null   object
 15  TRAINERNAME                          724 non-null    object
 16  TRAINERDESIGNATION                   724 non-null    object
 17  TRAINERRATING                        724 non-null    float64
 18  TRAINERSPECIALIZATION                724 non-null    object
 19  TRAININGNAME                         4084 non-null   object
 20  OPTIMIZEDDURATION                    4084 non-null   float64
 21  DIFFICULTYLEVEL                      4084 non-null   object
 22  TRAININGSTATUS                       4100 non-null   object
 23  ASSESSMENT_PERCENTAGE_DONE           4100 non-null   float64
 24  ASSESSMENT_COMPLETION_TIME_IN_HOURS  1380 non-null   float64
 25  SCOREACHIEVEDINQUIZ                  1380 non-null   float64
 26  QUIZPASSEDORFAILED                   4100 non-null   object
 27  RATINGGIVENBYTRAINER                 4100 non-null   float64
dtypes: float64(7), object(21)
memory usage: 903.8+ KB

In [6]:
df.head()

,USERID,FULLNAME,EMAIL,PHONENUMBER,GENDER,DOJ,SPECIALIZATION,DOB,CITY,STATE,...,TRAINERSPECIALIZATION,TRAININGNAME,OPTIMIZEDDURATION,DIFFICULTYLEVEL,TRAININGSTATUS,ASSESSMENT_PERCENTAGE_DONE,ASSESSMENT_COMPLETION_TIME_IN_HOURS,SCOREACHIEVEDINQUIZ,QUIZPASSEDORFAILED,RATINGGIVENBYTRAINER
0,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,[Continuous Deployment,09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
1,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,GraphQL,09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
2,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,PostgreSQL,09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
3,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,Node.js],09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
4,Emp_172,Jonathan Patel,gonzalesbrian@example.org,001-515-605-2768x915,Male,13-01-2021,[MongoDB,14-07-1939,West Paulland,Vermont,...,None,Data Science Essentials,23.0,easy,pending,0.0,NaN,NaN,,4.0

In [7]:
df['SPECIALIZATION'] = df['SPECIALIZATION'].str.replace(r"[\[\],]", '', regex=True)

In [8]:
df.describe()

,EXPERIENCE,TRAINERRATING,OPTIMIZEDDURATION,ASSESSMENT_PERCENTAGE_DONE,ASSESSMENT_COMPLETION_TIME_IN_HOURS,SCOREACHIEVEDINQUIZ,RATINGGIVENBYTRAINER
count,4130.000000,724.000000,4084.000000,4100.000000,1380.000000,1380.000000,4100.000000
mean,11.824213,3.149171,19.258570,50.425366,29.742029,48.011594,2.907317
std,6.004567,1.554848,11.062388,44.489312,17.442252,28.640350,1.411691
min,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000
25%,6.000000,2.000000,9.000000,0.000000,14.000000,23.000000,2.000000
50%,13.000000,3.000000,20.000000,54.000000,29.000000,49.000000,3.000000
75%,17.000000,5.000000,29.000000,100.000000,44.000000,71.000000,4.000000
max,20.000000,5.000000,39.000000,100.000000,60.000000,100.000000,5.000000

In [9]:
df.nunique()

USERID                                 203
FULLNAME                               203
EMAIL                                  203
PHONENUMBER                            202
GENDER                                   5
DOJ                                    190
SPECIALIZATION                         105
DOB                                    200
CITY                                   199
STATE                                   51
EXPERIENCE                              20
USERTYPE                                 5
SUBSCRIBENEWSLETTER                      3
TRAININGID                             100
TRAINERID                                1
TRAINERNAME                             14
TRAINERDESIGNATION                      12
TRAINERRATING                            4
TRAINERSPECIALIZATION                   16
TRAININGNAME                            10
OPTIMIZEDDURATION                       33
DIFFICULTYLEVEL                          3
TRAININGSTATUS                           3
ASSESSMENT_PERCENTAGE_DONE              98
ASSESSMENT_COMPLETION_TIME_IN_HOURS     60
SCOREACHIEVEDINQUIZ                     96
QUIZPASSEDORFAILED                       3
RATINGGIVENBYTRAINER                     5
dtype: int64

## Keeping the only columns that are required

In [10]:
df = df[['GENDER', 'SPECIALIZATION', 'EXPERIENCE', 'DIFFICULTYLEVEL', 'TRAININGNAME', 'OPTIMIZEDDURATION', 'SCOREACHIEVEDINQUIZ', 'ASSESSMENT_COMPLETION_TIME_IN_HOURS']]
df

,GENDER,SPECIALIZATION,EXPERIENCE,DIFFICULTYLEVEL,TRAININGNAME,OPTIMIZEDDURATION,SCOREACHIEVEDINQUIZ,ASSESSMENT_COMPLETION_TIME_IN_HOURS
0,Female,Continuous Deployment,17.0,moderate,Machine Learning Basics,24.0,NaN,NaN
1,Female,GraphQL,17.0,moderate,Machine Learning Basics,24.0,NaN,NaN
2,Female,PostgreSQL,17.0,moderate,Machine Learning Basics,24.0,NaN,NaN
3,Female,Node.js,17.0,moderate,Machine Learning Basics,24.0,NaN,NaN
4,Male,MongoDB,17.0,easy,Data Science Essentials,23.0,NaN,NaN
...,...,...,...,...,...,...,...,...
4126,Female,Docker,20.0,None,None,NaN,NaN,NaN
4127,Male,Behavior-Driven Development,11.0,None,None,NaN,NaN,NaN
4128,Male,Angular,9.0,None,None,NaN,NaN,NaN
4129,Male,Continuous Integration,11.0,None,None,NaN,NaN,NaN
4130,Male,Docker,11.0,None,None,NaN,NaN,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4131 entries, 0 to 4130
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   GENDER                               4131 non-null   object
 1   SPECIALIZATION                       4131 non-null   object
 2   EXPERIENCE                           4130 non-null   float64
 3   DIFFICULTYLEVEL                      4084 non-null   object
 4   TRAININGNAME                         4084 non-null   object
 5   OPTIMIZEDDURATION                    4084 non-null   float64
 6   SCOREACHIEVEDINQUIZ                  1380 non-null   float64
 7   ASSESSMENT_COMPLETION_TIME_IN_HOURS  1380 non-null   float64
dtypes: float64(4), object(4)
memory usage: 258.3+ KB

## Handling Missing Values and outliers

In [12]:
df = df.dropna(subset=['DIFFICULTYLEVEL'])
df = df.dropna(subset=['TRAININGNAME'])
df = df.dropna(subset=['OPTIMIZEDDURATION'])

## Removing The NaN Values

In [14]:
df['SCOREACHIEVEDINQUIZ'].fillna(df['SCOREACHIEVEDINQUIZ'].median(), inplace=True)
df['ASSESSMENT_COMPLETION_TIME_IN_HOURS'].fillna(df['ASSESSMENT_COMPLETION_TIME_IN_HOURS'].median(), inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4084 entries, 0 to 4099
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   GENDER                               4084 non-null   object
 1   SPECIALIZATION                       4084 non-null   object
 2   EXPERIENCE                           4084 non-null   float64
 3   DIFFICULTYLEVEL                      4084 non-null   object
 4   TRAININGNAME                         4084 non-null   object
 5   OPTIMIZEDDURATION                    4084 non-null   float64
 6   SCOREACHIEVEDINQUIZ                  4084 non-null   float64
 7   ASSESSMENT_COMPLETION_TIME_IN_HOURS  4084 non-null   float64
dtypes: float64(4), object(4)
memory usage: 287.2+ KB