In [26]:
import pandas as pd

In [27]:
data = pd.read_excel('../ConversionAndRetrieval/TotalInfo.xlsx')

In [28]:
data.columns

Index(['userId', 'fullName', 'email', 'phoneNumber', 'gender', 'doj',
       'specialization', 'dob', 'city', 'state', 'experience', 'userType',
       'subscribeNewsletter', 'trainingId', 'trainerId', 'trainerName',
       'trainerDesignation', 'trainerRating', 'trainerSpecialization',
       'trainingName', 'optimizedDuration', 'difficultyLevel',
       'trainingStatus', 'assessment_percentage_done',
       'assessment_completion_time_in_hours', 'scoreAchievedInQuiz',
       'quizPassedOrFailed', 'ratingGivenByTrainer'],
      dtype='object')

In [29]:
data.head()

,userId,fullName,email,phoneNumber,gender,doj,specialization,dob,city,state,...,trainerSpecialization,trainingName,optimizedDuration,difficultyLevel,trainingStatus,assessment_percentage_done,assessment_completion_time_in_hours,scoreAchievedInQuiz,quizPassedOrFailed,ratingGivenByTrainer
0,Emp_1,Cathy Mata,johnbaker@example.com,(375)527-9939,Male,09-03-2023,'Kubernetes',07-04-2015,Bryanstad,Arizona,...,"['Django', 'Microservices', 'Information Secur...",Web Development Fundamentals,3,moderate,completed,100,12.0,8.0,failed,2
1,Emp_1,Cathy Mata,johnbaker@example.com,(375)527-9939,Male,09-03-2023,'Kubernetes',07-04-2015,Bryanstad,Arizona,...,"['Django', 'Microservices', 'Information Secur...",Cybersecurity Essentials,33,easy,in_progress,35,NaN,NaN,NaN,4
2,Emp_1,Cathy Mata,johnbaker@example.com,(375)527-9939,Male,09-03-2023,'MySQL',07-04-2015,Bryanstad,Arizona,...,"['Django', 'Microservices', 'Information Secur...",Web Development Fundamentals,3,moderate,completed,100,12.0,8.0,failed,2
3,Emp_1,Cathy Mata,johnbaker@example.com,(375)527-9939,Male,09-03-2023,'MySQL',07-04-2015,Bryanstad,Arizona,...,"['Django', 'Microservices', 'Information Secur...",Cybersecurity Essentials,33,easy,in_progress,35,NaN,NaN,NaN,4
4,Emp_1,Cathy Mata,johnbaker@example.com,(375)527-9939,Male,09-03-2023,'C#',07-04-2015,Bryanstad,Arizona,...,"['Django', 'Microservices', 'Information Secur...",Web Development Fundamentals,3,moderate,completed,100,12.0,8.0,failed,2

In [30]:
data['scoreAchievedInQuiz'] = data['scoreAchievedInQuiz'].fillna(data['scoreAchievedInQuiz'].mean()).astype(int)
data['assessment_completion_time_in_hours'] = data['assessment_completion_time_in_hours'].fillna(data['assessment_completion_time_in_hours'].mean()).astype(int)

In [31]:
data['specialization'] = data['specialization'].replace(to_replace=r'[\'\"]', value='', regex=True)

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 28 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   userId                               1492 non-null   object
 1   fullName                             1492 non-null   object
 2   email                                1492 non-null   object
 3   phoneNumber                          1492 non-null   object
 4   gender                               1492 non-null   object
 5   doj                                  1492 non-null   object
 6   specialization                       1492 non-null   object
 7   dob                                  1492 non-null   object
 8   city                                 1492 non-null   object
 9   state                                1492 non-null   object
 10  experience                           1492 non-null   int64
 11  userType                             1492 non-null   object
 12  subscribeNewsletter                  1492 non-null   bool
 13  trainingId                           1492 non-null   object
 14  trainerId                            0 non-null      float64
 15  trainerName                          1492 non-null   object
 16  trainerDesignation                   1492 non-null   object
 17  trainerRating                        1492 non-null   int64
 18  trainerSpecialization                1492 non-null   object
 19  trainingName                         1492 non-null   object
 20  optimizedDuration                    1492 non-null   int64
 21  difficultyLevel                      1492 non-null   object
 22  trainingStatus                       1492 non-null   object
 23  assessment_percentage_done           1492 non-null   int64
 24  assessment_completion_time_in_hours  1492 non-null   int32
 25  scoreAchievedInQuiz                  1492 non-null   int32
 26  quizPassedOrFailed                   488 non-null    object
 27  ratingGivenByTrainer                 1492 non-null   int64
dtypes: bool(1), float64(1), int32(2), int64(5), object(19)
memory usage: 304.6+ KB

In [33]:
df1 = data[['gender', 'specialization', 'experience', 'difficultyLevel', 'trainingName', 'optimizedDuration', 'scoreAchievedInQuiz', 'assessment_completion_time_in_hours']]
df1

,gender,specialization,experience,difficultyLevel,trainingName,optimizedDuration,scoreAchievedInQuiz,assessment_completion_time_in_hours
0,Male,Kubernetes,5,moderate,Web Development Fundamentals,3,8,12
1,Male,Kubernetes,5,easy,Cybersecurity Essentials,33,46,32
2,Male,MySQL,5,moderate,Web Development Fundamentals,3,8,12
3,Male,MySQL,5,easy,Cybersecurity Essentials,33,46,32
4,Male,C#,5,moderate,Web Development Fundamentals,3,8,12
...,...,...,...,...,...,...,...,...
1487,Male,Docker,12,hard,Introduction to JavaScript,32,46,32
1488,Male,Java,12,hard,Database Management with MongoDB,11,46,32
1489,Male,Java,12,moderate,Introduction to JavaScript,7,46,32
1490,Male,Java,12,hard,Introduction to JavaScript,32,46,32
1491,Male,Java,12,hard,Introduction to JavaScript,32,46,32

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score , classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder

# Assume df1 is your preprocessed DataFrame with features and target column 'trainingName'

# Separate features and target variable
X = df1[['gender', 'specialization', 'experience', 'difficultyLevel', 'trainingName']]
y = df1['scoreAchievedInQuiz']

# Encode categorical variables if needed (e.g., one-hot encoding)
X_encoded = pd.get_dummies(X)
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

In [35]:
from xgboost import XGBClassifier

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y_encoded, test_size=0.3, random_state=42)
xgb_classifier = XGBClassifier(random_state=42)
xgb_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy*100}")

Accuracy: 84.375

In [36]:
import pandas as pd

# Create a DataFrame for the new data
new_data = {
    'gender': ['male'],
    'specialization': ['Azure'],
    'experience': [10],
    'difficultyLevel': ['moderate'],
    'trainingName': ['Machine Learning Basics'],
}
df_new = pd.DataFrame(new_data)

df_new_encoded = pd.get_dummies(df_new)

missing_cols = set(X_encoded.columns) - set(df_new_encoded.columns)
for col in missing_cols:
    df_new_encoded[col] = 0 

df_new_encoded = df_new_encoded[X_encoded.columns]

y_pred_new = xgb_classifier.predict(df_new_encoded)

predicted_scores = label_encoder .inverse_transform(y_pred_new)

print(predicted_scores)

[46]

C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2462438677.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0

In [37]:
df1 = df1.dropna(subset=['assessment_completion_time_in_hours'])
X = df1[['gender', 'specialization', 'experience', 'difficultyLevel', 'trainingName']]
y = df1['assessment_completion_time_in_hours']

# Encode categorical variables if needed (e.g., one-hot encoding)
X_encoded = pd.get_dummies(X)
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

In [38]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.3, random_state=42)

# Initialize and fit the XGBoost regressor
xgb_regressor = XGBRegressor(random_state=42)
xgb_regressor.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb_regressor.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 46.493313924348904

In [39]:
import pandas as pd

# Create a DataFrame for the new data
new_data = {
    'gender': ['male'],
    'specialization': ['Azure'],
    'experience': [10],
    'difficultyLevel': ['moderate'],
    'trainingName': ['Machine Learning Basics']
}
df_new = pd.DataFrame(new_data)

df_new_encoded = pd.get_dummies(df_new)

missing_cols = set(X_encoded.columns) - set(df_new_encoded.columns)
for col in missing_cols:
    df_new_encoded[col] = 0 

df_new_encoded = df_new_encoded[X_encoded.columns]

y_pred_new = xgb_classifier.predict(df_new_encoded)

predicted_time = label_encoder.inverse_transform(y_pred_new)

print(predicted_time)

[35]

C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\kaust\AppData\Local\Temp\ipykernel_43052\2489997819.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0