In [32]:
import snowflake.connector
import pandas as pd

In [33]:
try:
    # Connect to Snowflake using environment variables
    conn = snowflake.connector.connect(
        user="kaustubh",
        password="@@Kaustubh123",
        account="rh57156.central-india.azure",
        warehouse="COMPUTE_WH",
        database="Main_Project",
        schema="Main_Project_Schema_Mart",
        role = "ACCOUNTADMIN"
    )

    # Print connection success message
    print("Connected to Snowflake successfully!")

    # Now, you can perform further operations with snowflake_conn
except snowflake.connector.errors.DatabaseError as e:
    # Print connection failure message
    print(f"Failed to connect to Snowflake: {e}")

Connected to Snowflake successfully!

In [34]:
cur = conn.cursor()

# Execute SQL query to fetch data
sql_query = f"SELECT * FROM TOTALINFO"
cur.execute(sql_query)

# Fetch data into a pandas DataFrame
data = cur.fetchall()
columns = [col[0] for col in cur.description]
df = pd.DataFrame(data, columns=columns)

# Close cursor and connection
cur.close()
conn.close()

In [35]:
df.head()

,USERID,FULLNAME,EMAIL,PHONENUMBER,GENDER,DOJ,SPECIALIZATION,DOB,CITY,STATE,...,TRAINERSPECIALIZATION,TRAININGNAME,OPTIMIZEDDURATION,DIFFICULTYLEVEL,TRAININGSTATUS,ASSESSMENT_PERCENTAGE_DONE,ASSESSMENT_COMPLETION_TIME_IN_HOURS,SCOREACHIEVEDINQUIZ,QUIZPASSEDORFAILED,RATINGGIVENBYTRAINER
0,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,[Continuous Deployment,09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
1,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,GraphQL,09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
2,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,PostgreSQL,09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
3,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,Node.js],09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
4,Emp_172,Jonathan Patel,gonzalesbrian@example.org,001-515-605-2768x915,Male,13-01-2021,[MongoDB,14-07-1939,West Paulland,Vermont,...,None,Data Science Essentials,23.0,easy,pending,0.0,NaN,NaN,,4.0

In [36]:
df.columns

Index(['USERID', 'FULLNAME', 'EMAIL', 'PHONENUMBER', 'GENDER', 'DOJ',
       'SPECIALIZATION', 'DOB', 'CITY', 'STATE', 'EXPERIENCE', 'USERTYPE',
       'SUBSCRIBENEWSLETTER', 'TRAININGID', 'TRAINERID', 'TRAINERNAME',
       'TRAINERDESIGNATION', 'TRAINERRATING', 'TRAINERSPECIALIZATION',
       'TRAININGNAME', 'OPTIMIZEDDURATION', 'DIFFICULTYLEVEL',
       'TRAININGSTATUS', 'ASSESSMENT_PERCENTAGE_DONE',
       'ASSESSMENT_COMPLETION_TIME_IN_HOURS', 'SCOREACHIEVEDINQUIZ',
       'QUIZPASSEDORFAILED', 'RATINGGIVENBYTRAINER'],
      dtype='object')

In [37]:
df.head()

,USERID,FULLNAME,EMAIL,PHONENUMBER,GENDER,DOJ,SPECIALIZATION,DOB,CITY,STATE,...,TRAINERSPECIALIZATION,TRAININGNAME,OPTIMIZEDDURATION,DIFFICULTYLEVEL,TRAININGSTATUS,ASSESSMENT_PERCENTAGE_DONE,ASSESSMENT_COMPLETION_TIME_IN_HOURS,SCOREACHIEVEDINQUIZ,QUIZPASSEDORFAILED,RATINGGIVENBYTRAINER
0,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,[Continuous Deployment,09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
1,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,GraphQL,09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
2,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,PostgreSQL,09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
3,Emp_181,Andrew Cole,davisgregory@example.org,-9025,Female,23-09-2020,Node.js],09-09-1996,South Taylorberg,North Carolina,...,"['Ruby', 'Statistical Analysis', 'Kubernetes',...",Machine Learning Basics,24.0,moderate,in_progress,87.0,NaN,NaN,,4.0
4,Emp_172,Jonathan Patel,gonzalesbrian@example.org,001-515-605-2768x915,Male,13-01-2021,[MongoDB,14-07-1939,West Paulland,Vermont,...,None,Data Science Essentials,23.0,easy,pending,0.0,NaN,NaN,,4.0

In [38]:
df['SCOREACHIEVEDINQUIZ'] = df['SCOREACHIEVEDINQUIZ'].fillna(df['SCOREACHIEVEDINQUIZ'].mean()).astype(int)
df['ASSESSMENT_COMPLETION_TIME_IN_HOURS'] = df['ASSESSMENT_COMPLETION_TIME_IN_HOURS'].fillna(df['ASSESSMENT_COMPLETION_TIME_IN_HOURS'].mean()).astype(int)

In [39]:
df['SPECIALIZATION'] = df['SPECIALIZATION'].str.replace(r"[\[\],]", '', regex=True)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4131 entries, 0 to 4130
Data columns (total 28 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   USERID                               4131 non-null   object
 1   FULLNAME                             4131 non-null   object
 2   EMAIL                                4131 non-null   object
 3   PHONENUMBER                          4131 non-null   object
 4   GENDER                               4131 non-null   object
 5   DOJ                                  4131 non-null   object
 6   SPECIALIZATION                       4131 non-null   object
 7   DOB                                  4131 non-null   object
 8   CITY                                 4131 non-null   object
 9   STATE                                4131 non-null   object
 10  EXPERIENCE                           4130 non-null   float64
 11  USERTYPE                             4131 non-null   object
 12  SUBSCRIBENEWSLETTER                  4131 non-null   object
 13  TRAININGID                           4100 non-null   object
 14  TRAINERID                            4100 non-null   object
 15  TRAINERNAME                          724 non-null    object
 16  TRAINERDESIGNATION                   724 non-null    object
 17  TRAINERRATING                        724 non-null    float64
 18  TRAINERSPECIALIZATION                724 non-null    object
 19  TRAININGNAME                         4084 non-null   object
 20  OPTIMIZEDDURATION                    4084 non-null   float64
 21  DIFFICULTYLEVEL                      4084 non-null   object
 22  TRAININGSTATUS                       4100 non-null   object
 23  ASSESSMENT_PERCENTAGE_DONE           4100 non-null   float64
 24  ASSESSMENT_COMPLETION_TIME_IN_HOURS  4131 non-null   int32
 25  SCOREACHIEVEDINQUIZ                  4131 non-null   int32
 26  QUIZPASSEDORFAILED                   4100 non-null   object
 27  RATINGGIVENBYTRAINER                 4100 non-null   float64
dtypes: float64(5), int32(2), object(21)
memory usage: 871.5+ KB

In [48]:
df1 = df[['GENDER', 'SPECIALIZATION', 'EXPERIENCE', 'DIFFICULTYLEVEL', 'TRAININGNAME', 'OPTIMIZEDDURATION', 'SCOREACHIEVEDINQUIZ', 'ASSESSMENT_COMPLETION_TIME_IN_HOURS']]
df1

,GENDER,SPECIALIZATION,EXPERIENCE,DIFFICULTYLEVEL,TRAININGNAME,OPTIMIZEDDURATION,SCOREACHIEVEDINQUIZ,ASSESSMENT_COMPLETION_TIME_IN_HOURS
0,Female,Continuous Deployment,17.0,moderate,Machine Learning Basics,24.0,48,29
1,Female,GraphQL,17.0,moderate,Machine Learning Basics,24.0,48,29
2,Female,PostgreSQL,17.0,moderate,Machine Learning Basics,24.0,48,29
3,Female,Node.js,17.0,moderate,Machine Learning Basics,24.0,48,29
4,Male,MongoDB,17.0,easy,Data Science Essentials,23.0,48,29
...,...,...,...,...,...,...,...,...
4126,Female,Docker,20.0,None,None,NaN,48,29
4127,Male,Behavior-Driven Development,11.0,None,None,NaN,48,29
4128,Male,Angular,9.0,None,None,NaN,48,29
4129,Male,Continuous Integration,11.0,None,None,NaN,48,29
4130,Male,Docker,11.0,None,None,NaN,48,29

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score , classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder

# Assume df1 is your preprocessed DataFrame with features and target column 'trainingName'

# Separate features and target variable
X = df1[['GENDER', 'SPECIALIZATION', 'EXPERIENCE', 'DIFFICULTYLEVEL', 'TRAININGNAME', 'OPTIMIZEDDURATION']]
y = df1['SCOREACHIEVEDINQUIZ']

# Encode categorical variables if needed (e.g., one-hot encoding)
X_encoded = pd.get_dummies(X)
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

In [51]:
from xgboost import XGBClassifier

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y_encoded, test_size=0.2, random_state=42)
xgb_classifier = XGBClassifier(random_state=42)
xgb_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy*100}")

Accuracy: 88.27085852478838

In [52]:
import pandas as pd

# Create a DataFrame for the new data
new_data = {
    'GENDER': ['male'],
    'SPECIALIZATION': ['Azure'],
    'EXPERIENCE': [10],
    'DIFFICULTYLEVEL': ['moderate'],
    'TRAININGNAME': ['Machine Learning Basics'],
    'OPTIMIZEDDURATION': [24]
}
df_new = pd.DataFrame(new_data)

df_new_encoded = pd.get_dummies(df_new)

missing_cols = set(X_encoded.columns) - set(df_new_encoded.columns)
for col in missing_cols:
    df_new_encoded[col] = 0 

df_new_encoded = df_new_encoded[X_encoded.columns]

y_pred_new = xgb_classifier.predict(df_new_encoded)

predicted_scores = label_encoder .inverse_transform(y_pred_new)

print(predicted_scores)

[67]

C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\706354182.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0

In [53]:
X = df1[['GENDER', 'SPECIALIZATION', 'EXPERIENCE', 'DIFFICULTYLEVEL', 'TRAININGNAME', 'OPTIMIZEDDURATION']]
y = df1['ASSESSMENT_COMPLETION_TIME_IN_HOURS']

# Encode categorical variables if needed (e.g., one-hot encoding)
X_encoded = pd.get_dummies(X)
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

In [54]:
from xgboost import XGBClassifier

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y_encoded, test_size=0.2, random_state=42)
xgb_classifier = XGBClassifier(random_state=42)
xgb_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy*100}")

Accuracy: 88.02902055622734

In [56]:
import pandas as pd

# Create a DataFrame for the new data
new_data = {
    'GENDER': ['male'],
    'SPECIALIZATION': ['Azure'],
    'EXPERIENCE': [10],
    'DIFFICULTYLEVEL': ['moderate'],
    'TRAININGNAME': ['Machine Learning Basics'],
    'OPTIMIZEDDURATION': [20]
}
df_new = pd.DataFrame(new_data)

df_new_encoded = pd.get_dummies(df_new)

missing_cols = set(X_encoded.columns) - set(df_new_encoded.columns)
for col in missing_cols:
    df_new_encoded[col] = 0 

df_new_encoded = df_new_encoded[X_encoded.columns]

y_pred_new = xgb_classifier.predict(df_new_encoded)

predicted_time = label_encoder .inverse_transform(y_pred_new)

print(predicted_time)

[29]

C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0
C:\Users\KaustubhGupta\AppData\Local\Temp\ipykernel_2004\1061772407.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new_encoded[col] = 0